section {
	font-family: 'Open Sans', sans-serif;
}
p {
	font-family: 'Open Sans', sans-serif;
}
h1 {
	font-family: 'Open Sans', sans-serif;
}
h2 {
	font-family: 'Open Sans', sans-serif;
}
h3 {
	font-family: 'Open Sans', sans-serif;
}
.social ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: center
	
}
.social ul li{
	display: inline;
	padding: 50px;
}
.social ul li a:hover{
	color:#900;
}	




body { 
	padding-top: 100px; 
}
#about { 
	padding-top: 100px; 
}
#portfolio { 
	padding-top: 100px; 
}

@media screen and (max-width: 768px) {
    body { padding-top: 0px; }
    #about { padding-top: 0px; }
    #aportfolio { padding-top: 0px; }

}