section {
	font-family: "TexGyreHeros","Helvetica Neue",Helvetica,sans-serif;
	font-size:18px;
}
body {
	padding-top: 90px;
	font-size:18px;
	background-color: 	#FFFAFA;
	width: 100%;
}
p {
	font-family: "TexGyreHeros","Helvetica Neue",Helvetica,sans-serif;
	font-size:18px;
	line-height: 1.5;
}
h1 {
	font-family: "TexGyreHeros","Helvetica Neue",Helvetica,sans-serif;
	padding-bottom: 25px;
	color: #173e43;
}
h2 {
	font-family: "TexGyreHeros","Helvetica Neue",Helvetica,sans-serif;
	text-align: center;
	padding-bottom: 30px;

}
h3 {
	font-family: "TexGyreHeros","Helvetica Neue",Helvetica,sans-serif;
	color: #173e43;
}
h4 {
	font-family: "TexGyreHeros","Helvetica Neue",Helvetica,sans-serif;
	color: #173e43;
}

blockquote p, blockquote cite{
	font-family: "TexGyreHeros","Helvetica Neue",Helvetica,sans-serif;
	line-height: 1.3;
}
blockquote {
	border-left: 3px solid #3fb0ac;
	margin: 0px 0px 30px;
	padding: 0px 20px 0px 19px;
	text-align: left
}
blockquote p {
	color: #3fb0ac;
	font-style: italic;
	font-size: 18px;
	margin-bottom: 15px
}
blockquote cite {
	display: block;
	color: #555;
	font-style: normal;
	font-weight: 600;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-size: 15px;
}


body.modal-open {
    overflow: visible;
}








.navbar {
	background-color: #173e43;

}
.navbar-default {
   border:none;
}
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #fae596
;
    background-color: #3fb0ac;
}
.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
    outline: 0;
    color: #fae596
;
}

.navbar-default .navbar-nav>.active>a {
	border-radius: 0;
	color: #fae596;
	background-color: #3fb0ac
;
}

.navbar-default .navbar-brand{
	color:white
;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active {
	color: #fae596;
	font-size: 2em;
}


.navbar-default .nav li a{
	color:white;
}

.navbar-default .nav li a:hover{
    color:#fae596;
}
.navbar-fixed-bottom, .navbar-fixed-top{
	right:auto;
	width:100%;

}



.banner {
	background-attachment: scroll,							fixed;
	background-color: #666;
	background-image: url("Images/overlay.png"), url("Images/Hero.jpg");
	background-position: top left,						center center;
	background-repeat: repeat,							no-repeat;
	background-size: auto,							cover;
	color: #fff;
	padding: 12em 0 20em 0;
	text-align: center;
}
.banner h1{
	font-family: "Brandon Grotesque","Helvetica Neue",Helvetica,sans-serif;
	font-size: 120px;
	color: #f5f5f5;
	padding-bottom: 0px;
}
.banner h3{
	font-family: "Brandon Grotesque","Helvetica Neue",Helvetica,sans-serif;
	font-size: 32px;
	color: #f5f5f5;
	padding-bottom: 50px;
}

.aboutbanner {
	background-attachment: scroll,							fixed;
	background-color: #666;
	background-image: url("Images/overlay.png"), url("Images/kevin_handsup.JPG");
	background-position: top left,						center center;
	background-repeat: repeat,							no-repeat;
	background-size: auto,							cover;
	color: #fff;
	padding: 12em 0 20em 0;
	text-align: center;
}
.aboutbanner h1{
	font-family: "Brandon Grotesque","Helvetica Neue",Helvetica,sans-serif;
	font-size: 120px;
	color: #f5f5f5;
	padding-bottom: 0px;
}
.aboutbanner h3{
	font-family: "Brandon Grotesque","Helvetica Neue",Helvetica,sans-serif;
	font-size: 32px;
	color: #f5f5f5;
	padding-bottom: 50px;
}

.projectbanner {
	background-attachment: scroll,							fixed;
	background-color: #666;
	background-image: url("Images/overlay.png"), url("Images/project_banner.jpg");
	background-position: top left,						center center;
	background-repeat: repeat,							no-repeat;
	background-size: auto,							cover;
	color: #fff;
	padding: 12em 0 20em 0;
	text-align: center;
}
.projectbanner h1{
	font-family: "Brandon Grotesque","Helvetica Neue",Helvetica,sans-serif;
	font-size: 120px;
	color: #f5f5f5;
	padding-bottom: 0px;
}
.projectbanner h3{
	font-family: "Brandon Grotesque","Helvetica Neue",Helvetica,sans-serif;
	font-size: 32px;
	color: #f5f5f5;
	padding-bottom: 50px;
}



.vcenter {
    display: inline-block;
    vertical-align: middle;
}





::selection{
	background-color: #fae596;

}

.intro-section {

    text-align: center;
		padding-top: 100px;
    padding-bottom: 100px;
}

.about-section {

    text-align: left;
    background:  #eeefe9;

}
.aboutme-section {

    text-align: left;
    background:  #eeefe9;
		padding-top: 100px;
		padding-bottom: 50px;

}

#aboutme .rounded-corners{
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
}

#portfolio .portfolio-item .rounded-corners{
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;

}


.proxy{
	opacity: 0;
}

#portfolio .portfolio-item .rounded-corners{
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;

}

#portfolio .portfolio-item{

	margin:0 0 15px;
	border-radius: 25px;

}

#portfolio .portfolio-item .portfolio-link{
	display:block;
	position:relative;
	margin: 0 auto;
	max-width: 400px;
	min-height: 300px;
	max-height:300px;

}

#portfolio .portfolio-item .portfolio-link .portfolio-hover{
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
	background: rgba(250,229,150,.9);
	-webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover{
	opacity: 1;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content{
	position:absolute;
	top:50%;
	width: 100%;
	height: 20px;
	margin-top: -12px;
	text-align: center;
	font-size: 20px;
	color: #fff;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i{
	margin-top: -12px;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
    margin: 0;
}

#portfolio .portfolio-item .portfolio-caption {
	margin:0 auto;
	padding:25px;
	max-width: 400px;
	text-align: center;
	background-color: #fff;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;


}

#portfolio .portfolio-item .portfolio-caption h4 {
    margin: 0;
    text-transform: none;
}

#portfolio .portfolio-item .portfolio-caption p {
    margin: 0;
    font-family: "Pier Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-style: italic;
}

#portfolio *{
	z-index:2;
}

@media(min-width:767px) {
    #portfolio .portfolio-item {
        margin: 0 0 30px;
    }
}



.portfolio-modal .modal-content{
	padding:100px 0;
	min-height: 100%;
	border:0;
	border-radius: 0;
	text-align: center;
	background-clip: border-box;
	-webkit-box-shadow:none;
	box-shadow: none;
}

.portfolio-modal .modal-content h2{
	margin-bottom: 15px;
	font-size: 3em;
}

.portfolio-modal .close-modal {
	position:absolute;
	top: 25px;
	right: 25px;
	width: 75px;
	height: 75px;
	background-color: transparent;
	cursor:pointer;
}
.portfolio-modal .close-modal:hover{
	opacity: .3;
}
.portfolio-modal .close-modal .lr{
	z-index:1051;
	width: 1px;
	height: 75px;
	margin-left: 35px;
	background-color: #222;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
.portfolio-modal .close-modal .lr .rl{
	z-index:1052;
	width: 1px;
	height: 75px;
	background-color: #222;
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);

}
.portfolio-modal .modal-content p{
	margin-bottom: 30px;
}
.portfolio-modal .modal-content p .item-intro{
	margin: 20px 0 30px;
	font-family: "Brandon Grotesque", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-style: italic;
}
.content-body{
	text-align: left;
}
.portfolio-modal .modal-content img{
	padding-bottom: 30px;
}
.portfolio-modal .modal-content iframe{
	padding-bottom: 30px;
}

.portfolio-modal .modal-content ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: center;
	padding-bottom: 40px;
}
.portfolio-modal .modal-content ul li{
	display: inline;
	padding: 50px;

}
.portfolio-modal .modal-content ul li a{
	color:#173e43;
}
.portfolio-modal .modal-content ul li a:hover{
	color:#fae596;
}









.social ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: center

}
.social ul li{
	display: inline;
	padding: 50px;

}



.social ul li a{
	color:white;
}
.social ul li a:hover{
	color:#fae596;
}

.copyright p, .Madefrom p{
	font-size: 14px;
}





.centeringstuff{
	width:100%;
	text-align: center;
}




#intro{
	padding-top: 20px;
	background-color: 	#f8f8f6;
}
#about {
	padding-top: 100px;
	padding-bottom: 50px;
}
#portfolio {
	background-color: #dddfd4;
	padding-top: 100px;
	padding-bottom: 100px;
}
#footer{
	padding-bottom: 25px;
	padding-top: 25px;
	background-color: #173e43;
	color: white;
	text-align: center;
}
#socialsection{
	padding-top:35px;
	padding-bottom: 35px;
	background-color: #3fb0ac;
}



@media only screen and (min-width: 768px) {
.navbar-default.navbar-shrink .navbar-brand {
    font-size: 2em;
}

.navbar-default.navbar-shrink .nav {
    font-size: 1.3em;
}

}


@media (max-width: 768px) {
	.banner h1{
		font-family: "Brandon Grotesque","Helvetica Neue",Helvetica,sans-serif;
		font-size: 84px;
		color: #f5f5f5;
		padding-bottom: 0px;
	}
  body {
  	padding-top: 75px;
  	width: 100%;
  }

  #about { padding-top: 0px; }
  #aportfolio { padding-top: 0px; }

}
