section {
	font-family: 'Open Sans', sans-serif;
}
p {
	font-family: 'Open Sans', sans-serif;
}
h1 {
	font-family: 'Open Sans', sans-serif;
}
h2 {
	font-family: 'Open Sans', sans-serif;
}
h3 {
	font-family: 'Open Sans', sans-serif;
}




body { 
	padding-top: 100px; 
}
#about { 
	padding-top: 100px; 
}
#portfolio { 
	padding-top: 100px; 
}

@media screen and (max-width: 768px) {
    body { padding-top: 0px; }
    #about { padding-top: 0px; }
    #aportfolio { padding-top: 0px; }

}